extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name
        h1 Karen Alvarado

        //- My Title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- My elevator pitch
        .portfolio-bio
          p
            | Currently a software developer apprentice in an awesome program called Project Athena at Verizon.
            | I am also an NPower Alumni!
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- My skills
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li API 
          li Node.js
          li JSON
          li Express
          li Pug
          li Object-Oriented Programming
        h6 Contact Info

        //- My contact info
        ul
          li 809-005-4493
          li karen.alvarado@dev.com

        //- Links to my social media
        a.button.expanded(href='https://www.linkedin.com/in/karenalvarado10 ' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/kalva98' target="_blank") GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  